<template>
  <v-layout>
    <!--Different icons depends on login-->
    <v-btn
      icon
      flat
      @click.stop="dialog = true"
      class="my-2"
      v-if="!user"
    >
      <v-icon>exit_to_app</v-icon>
    </v-btn>
    <v-btn
      flat
      class="my-2"
      v-if="user"
    >
      {{user.displayName}}
    </v-btn>
    <v-btn
      icon
      flat
      class="my-2"
      v-if="user"
      @click="signOut"
    >
      Log out
    </v-btn>
    <v-dialog
      v-model="dialog"
      max-width="320"
    ><!--lazy prop fixes not active tab slider at start-->
      <v-card>
        <v-card-title primary-title class="justify-center">
          <h1 class="headline">
            Zaloguj
          </h1>
        </v-card-title>
        <v-card-text>
          <Auth />
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import firebase from 'firebase'
import { mapGetters } from 'vuex'
import store from '../store'
import Auth from '@/components/Auth'

export default {
  name: 'AuthDialog',
  data () {
    return {
      dialog: false
    }
  },
  components: {
    Auth
  },
  computed: {
    ...mapGetters({
      user: 'user'
    })
  },
  methods: {
    signOut () {
      firebase.auth().signOut()
      store.commit('SET_USER', null)
      this.$router.push('/')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
